<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <%- include('../partials/header'); %>
    <div class="container">
        <h2 style="margin-top: 50px">Edit Book</h2>
        <form action="/books/update/<%= book._id %>" method="POST">
            <div class="form-group">
                <label for="name">Book Name</label>
                <input type="text" class="form-control" id="name" name="name" value="<%= book.name %>" required>
            </div>
            <div class="form-group">
                <label for="author">Author</label>
                <select class="form-control" id="author" name="author">
                    <% authors.forEach(author => { %>
                    <option value="<%= author.name %>" <%= author.name === selectedAuthor ? 'selected' : '' %>><%= author.name %></option>
                    <% }); %>
                </select>
            </div>
            <div class="form-group">
                <label for="publicationYear">Publication Year</label>
                <input type="number" class="form-control" id="publicationYear" name="publicationYear" value="<%= book.publicationYear %>" required>
            </div>
            <button type="submit" class="btn btn-primary">Update Book</button>
        </form>
    </div>
    <%- include('../partials/footer'); %>
</body>
</html>
